<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    

    <title>Reklame</title>

    <link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../public/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../../public/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="../../public/assets/css/owl.css">
	<link rel="stylesheet" href="../../public/assets/css/button.css">
  <link rel="stylesheet" href="../../public/assets/css/user.css">
  
